body{
    background-image: url("https://images.ecestaticos.com/GD-Nx_ATKd-rWH4PL5XYdi3Qgxk=/0x0:1279x719/1338x752/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F0ec%2F452%2Ff6a%2F0ec452f6a96087164394696eeacb2032.jpg");
}
h1{color:white;
    text-align: center; }
p{color: white;}
div{
    text-align: center; 
    margin: 5% 10%;
    border: 4px solid #370677;  
  }
  #muro{
    position: absolute;
    top:250px; left: 750px;
  }
  #KL{
    position: absolute;
    top:250px; left: 1000px;
  }

