body{
    background-image: url("https://static.wikia.nocookie.net/hieloyfuego/images/6/6e/El_Muro.jpg/revision/latest?cb=20120208194734");
}
h1{ color:white;
    position: absolute;
    top:0px; left: 750px}
p{
    color: white;
    font-size:140% ;
    position: absolute;
    top:100px; left: 500px;
}
#mas{
    position: absolute;
    top:250px; left: 750px;
  }
#lor{
    position: absolute;
    top:250px; left: 1000px;
  }